@import "tailwindcss";

:root {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

body {
    background-color: #09090b !important;
}

.appear {
    animation-name: AppearBox;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes AppearBox {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}

.auto_height {
    interpolate-size: allow-keywords;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background: #09090b;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #18181b;
    border-radius: 10px;
    border: 2px solid #5f5d5d;
    min-height: 30px;
}

::-webkit-scrollbar-thumb:hover {
    cursor: grab;
    background-color: #555;
}

::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
}

.chat_response {
    font-weight: 200;
    color: white;
}

.chat_response hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #5f5d5d;
}

.chat_response p {
    margin-bottom: 16px;
    line-height: 1.6;
}

.chat_response pre {
    background-color: black;
    padding: 16px;
    margin: 12px 0;
    border-radius: 12px;
    overflow-x: scroll;
}

.chat_response strong {
    margin-bottom: 16px;
}

.chat_response li {
    margin: 8px 0;
}

.chat_response :is(h1, h2, h3, h4, h5, h6) {
    margin: 16px 0 4px 0;
    font-size: 1.5em;
}

.dot {
    animation-name: bouncing;
    animation-duration: 1200ms;
    animation-iteration-count: infinite;
}

.dot:nth-child(2) {
    animation-delay: 150ms;
}

.dot:nth-child(3) {
    animation-delay: 300ms;
}

@keyframes bouncing {
    0% {
        transform: translateY(0);
    }
    35% {
        transform: translateY(-100%);
    }

    70% {
        transform: translateY(0);
    }
}
