@import "tailwindcss";

:root {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

body {
    background-color: #09090b !important;
}

.appear {
    animation-name: AppearBox;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes AppearBox {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}

.auto_height {
    interpolate-size: allow-keywords;
}
